<html>
<head>
    <title>{{title}}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel='stylesheet' href='/stylesheets/api_market.css' />
    <link rel='stylesheet' href='/stylesheets/documentation.css' />
    <link rel='stylesheet' href='/stylesheets/custom_doc.css' />
</head>
<body>
    <!-- BUTTONS BAR -->
    <div id="header"><!-- header content goes in here -->
        <div class="size-controls">
            <ul class="size-controls__options">
                <li class="size-controls__option"><a class="size-controls__option--overview size-controls__option--resize {%if not overview_link %}hidden{% endif %}" data-action="overview" href="{{overview_link}}">Overview</a></li>
                <!--
                <li class="size-controls__option"><a class="size-controls__option--overview size-controls__option--console" data-action="switch-to-console" href="{{console_link}}">Switch to console</a></li>
                -->
                <li><span class="resizer"><i class="resizer__arrow"></i></span></li>
            </ul>
            <!-- -->
            <div class="language-controls__options" data-element="language-selector">
                <span class="language-controls__help">SELECT THE PROGRAMMING LANGUAGE</span>
                <ul class="language-controls__list" data-list="language-list">
                    <li class="language-controls--selected language-controls__item"><span class="language-controls--selected--text">JAVA</span>
                        <ul class="language-control__items">
                            <li class="language-controls__item" data-item="language-curl">CURL</li>
                            <li class="language-controls__item item-selected" data-item="language-java">JAVA</li>
                            <li class="language-controls__item" data-item="language-python">PYTHON</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- BUTTONS BAR END-->
    <!-- SIDEBAR -->
    <!-- add class="sidebar-api_security" for SECURITY DOCUMENTATION -->
    <div id="sidebar" class="sidebar-api_security">
        <div id="nav-anchor">&nbsp;</div>
        <!-- REMOVE THE CONTENT OF THIS TAG IF YOU DONT WANT THIS BUTTON-->
        <!--
        <h1 class="nav__title"><a data-link="get-api" href="/group/api_market/get-api?api={{get_api_link}}">Get API</a></h1>
        -->
        <h1 class="nav__title"></h1>
        <!-- -->
        <div class="nav-wrapper-scroll">
            <nav class="nav">
                <ul class="nav__list" data-list="documentation-index">
                    {% autoescape false %} {{documentation_index}} {% endautoescape %}
                    <!-- INDEX START -->
                    {% autoescape false %} {{all_index}} {% endautoescape %}
                    <!-- INDEX START -->
                </ul>
            </nav>
        </div>
    </div>
    <!-- SIDEBAR END-->
    <!-- CONTENT BLOCK -->
    <div id="api-doc">
        <section class="api-doc__section">
            <!-- security documentation - description -->
            <article  id="api-information">
                <section class="api__documentation">
                    <h1 class="api__documentation__title">API Information</h1>
                    <table class="api__documentation--table-information">
                        <tbody>
                        {% if api_description.title %}
                            <tr>
                                <td>Title:</td>
                                <td>{{api_description.title}}</td>
                            </tr>
                        {% endif %}
                        {% if api_description.version %}
                        <tr>
                            <td>Version:</td>
                            <td>{{api_description.version}}</td>
                        </tr>
                        {% endif %}
                        {% if api_description.protocols %}
                        <tr>
                            <td>Protocols:</td>
                            <td>{{api_description.protocols}}</td>
                        </tr>
                        {% endif %}
                        {% if api_description.uris.live %}
                        <tr>
                            <td>URI Live:</td>
                            <td>{{api_description.uris.live}}</td>
                        </tr>
                        {% endif %}
                        {% if api_description.uris.sandbox %}
                        <tr>
                            <td>URI Sandbox:</td>
                            <td>{{api_description.uris.sandbox}}</td>
                        </tr>
                        {% endif %}
                        {% if api_description.uris.uri %}
                        <tr>
                            <td>URI:</td>
                            <td>{{api_description.uris.uri}}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </section>
                <section class="api__example api__example--place-holder">
                    <p class="place-holder place-holder--title">example screen</p>

                    <p class="place-holder place-holder--text">No examples are available on this section</p>

                    <p class="place-holder place-holder--text">Navigate to any service to show its associated examples</p>
                </section>
            </article>
            {% autoescape false %} {{documentation_article}} {% endautoescape %}
            <!-- METHOD DESCRIPTION START -->
            {% autoescape false %} {{all_templates}} {% endautoescape %}
            <!-- METHOD DESCRIPTION END -->
        </section>
    </div>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<!-- CONTENT BLOCK END-->

</body>

</html>




