html {
  margin: 0;
  padding: 0;

}

.root-cantainer{
  padding-top: 64px;
}

.container-main{
  padding: 15px 30px;
}

.container-main > h1{
  text-align: center;
}

a.mdl-navigation__link.active{
  font-weight: bolder;
}

.mdl-textfield.mdl-textfield {
  width: 100%;
}

.mdl-radio__label{
  padding-right: 16px;
}

.mdl-radio{
  padding-right: 8px;
}
.mdl-tooltip{
  max-width: 75%;
}
.mdl-button{
  display: block;
  margin: 0 auto;
}

.md-cell.mdl-cell--6-col.mdl-list__item{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
}

.mdl-list__item--error-family-2{
  background-color: rgba(0, 255, 0, 0.2);
}
.mdl-list__item--error-family-3{
  background-color: rgba(0, 191, 255, 0.2);
}
.mdl-list__item--error-family-4{
  background-color: rgba(255, 240, 0, 0.2);
}
.mdl-list__item--error-family-5{
  background-color: rgba(255, 0, 0, 0.2);
}

.mdl-list__item-timestamp{
  float: right;
  padding-right: 5%;
}